{{ define "main" -}}
<div class="posts">
  {{ range .Site.RegularPages -}}
  <article class="post">
    <h1 class="post-title">
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h1>
    <p class="post-date">Publicado el <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}">{{ .Date.Format "2006-01-02"}}</time> y actualizado el <time datetime="{{ .Lastmod.Format " 2006-01-02T15:04:05Z0700" }}">{{ .Lastmod.Format "2006-01-02" }}</time></p>
    {{ .Summary }}
    <div class="read-more-link">
      <a href="{{ .RelPermalink }}">Seguir leyendo &#9656;</a>
    </div>
  </article>
  {{- end }}
</div>
{{- end }}