a {
    color: #900;
}

a:hover {
    color: #B00;
    text-decoration: none;
}

.sidebar-about a:hover {
    text-decoration: none !important;
}

.post-title a:hover {
    text-decoration: none !important;
    color: #4e4e4e;
}

p.post-date {
    font-size: 12px !important;
}

.highlight pre {
    border-radius: 10px !important;
    overflow: auto;
    white-space: revert;
}

.read-more-link {
    text-align: right;
}

.text-small {
    font-size: 16px;
}

.metadata {
    background-color: #FDF1DB;
    border-radius: 10px;
    display: flex;
    padding: 1rem 0 1rem 0;
}

.metadata p {
    font-weight: 800;
    padding: 0;
    margin: 0;
}

.metadata ul {
    margin: 0 0 0 1rem;
    padding: 0;
}

.metadata .categories, .metadata .tags {
    margin-left: 2rem;
}