@charset "utf-8";

// Import Bulma
@import "./bulma/bulma.sass";

$family-sans-serif: "Mulish","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
$family-primary: $family-sans-serif;
$family-secondary: "Lora",serif;
$family-handwriting: "Parisienne",serif;
$family-monospace: "Ubuntu Mono",monospace;
$dark: #1f1f1f;
$primary: $dark;
$color-old-book: #F9F4ED;

html {
    background-color: $color-old-book;
}

body {
    font-family: $family-primary;
    background-color: $color-old-book;
    color: $primary;
}

main {
    background-image: url(images/ornament_north.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 300px;
}

.navbar {
    background-color: $color-old-book;
}

.anedonia {
    background-image: url(images/anedonia.svg);
    background-repeat: no-repeat;
    background-position: middle left;
    background-size: 60px;
}

.is-family-serif {
    font-family: $family-secondary;
}

.is-family-handwriting {
    font-family: $family-handwriting;
}

a {
    color: $primary;
    border-bottom: 1px solid $primary;
}

a:hover {
    color: $primary;
    border-bottom: 2px solid $primary;
}

.title a {
    color: $primary;
    border-bottom: none;
}

.title a:hover {
    background-color: #faefb0;
    background-image: linear-gradient(#faefb0, $color-old-book)
}

a.link-highlighted {
    color: $primary;
    border-bottom: none;
}

a.link-highlighted:hover {
    color: $primary;
    background-color: #faefb0;
    background-image: linear-gradient(#faefb0, $color-old-book);
}

a.link-inverse {
    color: $primary;
    border-bottom: none;
}

a.link-inverse:hover {
    color: $white;
    background-image: none;
    background-color: $primary !important;
}

a.link-naked {
    border-bottom: none;
}

a.link-naked:hover {
    border-bottom: none;
}

.mb-6rem {
    margin-bottom: 6rem;
}

.mb-7rem {
    margin-bottom: 7rem;
}

.mt-8rem {
    margin-top: 8rem;
}

.pt-8rem {
    padding-top: 8rem;
}

.pl-4rem {
    padding-left: 4rem;
}

.pl-5rem {
    padding-left: 5rem;
}

.pl-8rem {
    padding-left: 8rem;
}

h2 {
    line-height: 3.2rem !important;
}

article h2 {
    font-size: 2rem !important;
    font-family: $family-secondary !important;
    font-weight: 400 !important;
}

footer {
    background-color: $color-old-book !important;
    background-image: url(images/ornament_south.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 300px;
}

blockquote {
    background-color: #eeebe3 !important;
    border-left: 5px solid #d3bfa6 !important;
    font-style: oblique;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

code,
pre {
  font-family: $family-monospace;
}

pre {
    border-radius: 1rem;
    padding: 0 !important;
}

code {
    background-color: transparent;
    color: $primary;
    font-size: 1.2rem;
    padding: 0;
    font-style: italic;
}

pre code {
    font-style: normal;
    font-size: 1.3rem;
    border-radius: 1rem;
    overflow: auto !important;
}

.highlight {
    margin-bottom: 1.4rem;
}

ul.no-bullets {
    list-style: none !important;
}

ul.no-bullets li {
    display:inline-table;
    margin-bottom: .3rem;
    margin-right: .1rem;
}